.__SPNS__input {
  display:inline-block;
  margin: 2% 1%;
  margin-left: 0;
  width: 90%;
  padding: 1%;
  padding: 10px;
  border: none;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.5s, border 0.5s;
}

#customize__SPNS__ {
  display: none;
  text-align: center;
  float: left;
  margin: 0;
  height: 30px;
  padding: 5px;
  width: 80px;
  border: 1px solid #BBBBBB;
  background-color: #EEEEEE;
  border-bottom: 2px solid #BBBBBB;
  padding: 0;
  outline: 0;
  transition: all 0.1s;
  margin-bottom: 2px;
}

#customize__SPNS__:active {
  transform: translate(0px,1px);
  -webkit-transform: translate(0px,1px);
  border-bottom: 1px solid #BBBBBB;
}

.fb-page, .fb-page span, .fb_iframe_widget span iframe {
    width: 100% !important;
}

#overflow__SPNS__ {
  padding: 0;
  margin: 0;
  width: 100%;
  display: none;
  text-align: center;
  overflow: hidden;
}

#facebookWidget__SPNS__ {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 300px;
  height: 500px;
}

.__SPNS__input:focus, .__SPNS__input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  outline: 0;
}

.__SPNS__displayNone {
  display: none;
}

.__SPNS__button {
  padding: 8px;
  margin: 1%;
  margin-left: 0;
  outline: 0;
  display:inline-block;
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  transition: background-color 0.3s, border 0.3s;
}

.__SPNS__button:hover {
  border: 1px solid #BBBBBB;
  background-color: #DDDDDD;
  outline: 0;
}

.__SPNS__button:active {
  border: 1px solid #AAAAAA;
  background-color: #CCCCCC;
  outline: 0;
  transition: background-color 0s, border 0s;
}

#form__SPNS__ {
  padding: 0;
  margin: 0px auto;
  width: 90%;
}

.__SPNS__form-element {
  margin: 0;
}